
@using PictureRenderer.Optimizely
@using OptimizelyCMS.Models
@model OptimizelyCMS.ViewModels.IPageViewModel<OptimizelyCMS.Models.StartPage>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="@(Model.CurrentPage.Language)">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@Model.CurrentPage.MetaTitle</title>
        <base href="/" />
        @if (Model.CurrentPage.MetaKeywords != null && Model.CurrentPage.MetaKeywords.Count > 0)
        {
            <meta name="keywords" content="@string.Join(",", Model.CurrentPage.MetaKeywords)" />
        }
        @if (!string.IsNullOrWhiteSpace(Model.CurrentPage.MetaDescription))
        {
            <meta name="description" content="@Model.CurrentPage.MetaDescription" />
        }
        @Html.CanonicalLink()
        @Html.AlternateLinks()
    </head>
    <body>
        @await Html.RenderEPiServerQuickNavigatorAsync()
        Hello Pictures!
        <table>
            <tr>
                <td>
                    @Html.Picture(Model.CurrentPage.TestImage1, PictureProfiles.SampleImage)
                </td>
                <td>
                    <pre>@FormatElement(Html.Picture(Model.CurrentPage.TestImage1, PictureProfiles.SampleImage).ToString())</pre>
                </td>
            </tr>

            <tr>
                <td>
                    @Html.Picture(Model.CurrentPage.TestImage1, PictureProfiles.Thumbnail)
                </td>
                <td>
                    <pre>@FormatElement(Html.Picture(Model.CurrentPage.TestImage1, PictureProfiles.Thumbnail).ToString())</pre>
                </td>
            </tr>
        </table>

    @*@{Html.RenderXhtmlString(Model.CurrentPage.SomeRichText.AddResize());}*@
    
    @*@Html.PropertyFor(x => x.CurrentPage.SomeRichText)*@
    </body>
</html>

@functions
{
    //just adding line-breaks to make it more readable
    string FormatElement(string element)
    {
        return element
            .Replace("<picture>", "<picture>\n")
            .Replace("</picture>", "\n</picture>")
            .Replace("srcset=\"", "srcset=\"\n ")
            .Replace(", /", ",\n /")
            .Replace(" sizes=", "\n sizes=")
            .Replace("<img", "\n<img")

            ;
    }
}